.background_img {
	position: fixed;
	opacity: 0.1;
	width: 100%;
	max-height: 100%;
	background-size: contain;
}
.intro {
	margin-top: 200px;
	overflow-x: hidden;
}
.header {
	color: #0e1c81;
}
.intro_image {
	width: 100%;
	height: 500px;
	overflow-x: hidden;
}
.dsc_description {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.3rem;
	margin-top: 20px;
	color: #576877;
	overflow-x: hidden;
}

.margin {
	margin-top: 5px;
}

.container {
	margin-top: 80px;
	overflow-x: hidden;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	z-index: -1;
	overflow-x: hidden;
}

.ball {
	width: 22px;
	height: 22px;
	border-radius: 11px;
	margin: 0 10px;
	animation: bounce 2s ease infinite;
}
@keyframes bounce {
	50% {
		transform: translateY(25px);
	}
}

.blue {
	background-color: #4285f5;
}

.red {
	background-color: #ea4436;
	animation-delay: 0.25s;
}

.yellow {
	background-color: #fbbd06;
	animation-delay: 0.5s;
}

.green {
	background-color: #34a952;
	animation-delay: 0.75s;
}

.our_team {
	text-align: center;
}
.intro_image {
	background-color: white;
	overflow-x: hidden;
}
.introImg {
	padding-top: 90px;
}

/* .indexcard :hover {
    background-color: darkslategray;
    color: white;
} */

@media only screen and (max-width: 993px) {
	.introImg {
		display: none;
	}
	.container {
		text-align: center !important;
	}
}
