/* <!-- Start Ready To Talk Area --> */

/*================================================
Ready To Talk CSS
=================================================*/
.ready_to_talk {
	text-align: center;
	position: relative;
	padding-top: 80px;
	padding-bottom: 40px;
	/* background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%); */
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.ready_to_talk h3 {
	font-size: 24px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 15px;
}

.ready_to_talk p {
	color: #ffffff;
	margin-bottom: 80px;
	font-size: 16px;
}

.ready_to_talk .btn::before,
.ready_to_talk .btn::after {
	background: #44ce6f;
}
.talkDSC {
	margin-top: 70px;
}
.ready_to_talk .btn-primary {
	background: #c679e3;
	-webkit-box-shadow: 0 5px 20px 0 rgba(255, 255, 255, 0.25);
	box-shadow: 0 5px 20px 0 rgba(255, 255, 255, 0.25);
}

.ready_to_talk .btn-primary:hover,
.ready_to_talk .btn-primary:focus {
	-webkit-box-shadow: 0 5px 20px 0 rgba(222, 235, 74, 1);
	box-shadow: 0 5px 20px 0 rgba(222, 255, 84, 1) !important;
}

.ready_to_talk span a {
	margin-left: 15px;
	color: #ffffff;
	text-decoration: underline;
}

.ready_to_talk {
	padding-top: 50px;
}
.ready_to_talk h3 {
	font-size: 20px;
}
.ready_to_talk span {
	display: block;
	margin-top: 25px;
}

/* Google Voice Assistant ANimation */

.icon {
	position: relative;
	/* left: 50vw; */
	width: 0;
	/* top: 50vh; */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* width: 40%; */
	text-align: center;
	cursor: pointer;
}

.bar {
	position: absolute;
	transform: translate(-50%, -50%);
	/*align-items: center;*/
	top: -10px;

	background-color: #f98866;
	width: 20px;
	height: 20px;
	margin: 5px 0;
	border-radius: 10px;
	transition: 0.3s;
	animation: dope 1.5s ease-in-out 0s infinite;
}

.bar:nth-child(1) {
	animation-delay: 0s;
}

.bar:nth-child(2) {
	animation-delay: 0.15s;
}
.bar:nth-child(3) {
	animation-delay: 0.3s;
}
.bar:nth-child(4) {
	animation-delay: 0.45s;
}

@keyframes dope {
	0% {
		height: 20px;
	}
	50% {
		height: 60px;
	}
	100% {
		height: 20px;
	}
}
.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
}
/* Ready To Talk Section Ends Here */
