/* https://css-tricks.com/hash-tag-links-padding/ */
.searchable {
	/* providing a little offset so that components such as navbar can be compensated */
	position: absolute;
	margin-top: -90px;
}
.invisible {
	visibility: hidden;
	display: none;
}
.noStyle {
	all: unset;
}
