.new_footer_area {
	margin-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.new_footer_top {
	background: url('https://i.imgur.com/NZFduDq.png');

	background-repeat: no-repeat;
	padding: 20px 0px 270px;
	position: relative;
	overflow-x: hidden;
}
.new_footer_area .footer_bottom {
	padding-top: 5px;
	padding-bottom: 50px;
}
.footer_bottom {
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	color: #7f88a6;
	padding: 27px 0px;
}
.new_footer_top .company_widget p {
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	color: #6a7695;
	margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
	border-width: 1px;
	margin-top: 20px;
}
.btn_get_two:hover {
	background: transparent;
	color: #5e2ced;
}
.btn_get:hover {
	color: #fff;
	background: #6754e2;
	border-color: #6754e2;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.new_footer_top .f_widget.about_widget .f_list li a:hover {
	color: #5e2ced;
}
.new_footer_top .f_widget.about_widget .f_list li {
	margin-bottom: 11px;
}
.f_widget.about_widget .f_list li:last-child {
	margin-bottom: 0px;
}
.f_widget.about_widget .f_list li {
	margin-bottom: 15px;
}
.f_widget.about_widget .f_list {
	padding-left: 0px;
	list-style: none;
	margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
	line-height: 43px;
	background: transparent;
	border: 1px solid #e2e2eb;
}
.f_social_icon a {
	width: 36px;
	height: 35px;
	border-radius: 50%;
	font-size: 14px;
	line-height: 45px;
	color: #858da8;
	display: inline-block;
	background: #ebeef5;
	text-align: center;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.ti-facebook:before {
	content: '\e741';
}
.ti-twitter-alt:before {
	content: '\e74b';
}
.ti-vimeo-alt:before {
	content: '\e74a';
}
.ti-instagram:before {
	content: '\e731';
}

.btn_get_two {
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #5e2ced;
	border-color: #5e2ced;
	color: #fff;
}

.btn_get_two:hover {
	background: transparent;
	color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
	background: #5e2ced;
	border-color: #5e2ced;
	color: white;
}
.new_footer_top .f_social_icon a + a {
	margin-left: 4px;
}
.new_footer_top .f_title {
	margin-bottom: 15px;
	margin-top: 0px;
	color: #263b5e;
}
.f_600 {
	font-weight: 600;
}
.f_size_18 {
	font-size: 18px;
}

.twitter_timeline {
	margin: auto;
	width: 90%;

	padding: 10px;
}
.dsc_logo {
	margin-bottom: 15px;
}
.new_footer_top .f_widget.about_widget .f_list li a {
	color: #6a7695;
}

.new_footer_top .footer_bg {
	position: absolute;
	bottom: 0;
	background: url('http://droitthemes.com/html/saasland/img/seo/footer_bg.png') no-repeat scroll
		center 0;
	width: 100%;
	height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
	background: url('https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif')
		no-repeat center center;
	width: 330px;
	height: 105px;
	background-size: 100%;
	position: absolute;
	bottom: 0;
	left: 30%;
	-webkit-animation: myfirst 22s linear infinite;
	animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
	background: url('https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif')
		no-repeat center center;
	width: 88px;
	height: 100px;
	background-size: 100%;
	bottom: 0;
	left: 38%;
	position: absolute;
	-webkit-animation: myfirst 30s linear infinite;
	animation: myfirst 30s linear infinite;
}

@-moz-keyframes myfirst {
	0% {
		left: -25%;
	}
	100% {
		left: 100%;
	}
}

@-webkit-keyframes myfirst {
	0% {
		left: -25%;
	}
	100% {
		left: 100%;
	}
}

@keyframes myfirst {
	0% {
		left: -25%;
	}
	100% {
		left: 100%;
	}
}
.dsc_info {
	padding-left: 0px;
	list-style: none;
	margin-bottom: 0px;
	color: #6a7695;
}
.dsc_info a {
	color: #6a7695;
}

/*************footer End*****************/
