/* body {
  background: #f1f1f1;
  margin: 2rem;
} */
.blog_card {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.3rem;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 3%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.blog_card li {
  color: inherit;
}
.blog_card li:hover {
  color: #5ad67d;
}
.blog_card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}
.blog_card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog_card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.blog_card .details,
.blog_card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog_card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog_card .details li {
  text-decoration: dotted underline;
}
.blog_card .details ul li {
  display: inline-block;
  text-decoration: dotted underline;
}

.blog_card .details .tags li {
  margin-right: 5px;
}
.blog_card .details .tags li:first-child {
  margin-left: -4px;
}
.blog_card .description {
  padding: 1rem;
  background: #f5f5f5;
  position: relative;
  z-index: 1;
}
.blog_card .description h1,
.blog_card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog_card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog_card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog_card .description .read_more {
  text-align: right;
}
.blog_card .description .read_more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}
/* .blog_card .description .read_more a:after {
    content: "<i className=" fas fa-arrow-right fa-fw "></i>";
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
  } */
.blog_card .description .read_more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog_card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog_card p:first-of-type {
  margin-top: 1.25rem;
}
.blog_card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog_card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog_card {
    flex-direction: row;
    max-width: 85%;
  }
  .blog_card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog_card .description {
    flex-basis: 60%;
  }
  .blog_card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #f5f5f5;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog_card.alt {
    flex-direction: row-reverse;
  }
  .blog_card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .blog_card.alt .details {
    padding-left: 25px;
  }
}

.blog_icon {
  margin-right: 5px;
}
